.main {
  width: 100%;
  float: left;
  background-position: center;
  background-image: url("/resources/img/leaves.jpg");
  background-size: cover;
}
.main h1 {
  text-align: center;
  font-size: 6rem;
  margin-top: 5%;
}
.form {
  margin: 6rem auto;
  width: 50%;
  background-color: #454752;
  position: relative;
  border-radius: 7px;
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
  padding: 1rem;
}
.form h3 {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.form span {
  color:#c42222;
}
.submit {
  width: 90%;
  height: 40px;
  display: block;
  margin: -2rem auto 1rem auto;
}
.dataInput {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.dataInput:focus {
  outline: 0;
}
.info {
  background-color: #33353d;
  box-shadow: 0 -1px 6px 1px hsla(0, 0%, 0%, 0.8);
  width: 100%;
  padding-top: 2rem;
  float: left;
}
.info h2 {
  margin: 0;
  margin-top: 4rem;
  margin-left: 10%;
}
.info ul {
  list-style-type: none;
  display: inline-block;
  margin: 3.5rem 0 3rem 10%;
  padding: 0;
  font-family: 'Open Sans'
}
.info h4 {
  color: gray;
}
@media screen and (min-width:0px) and (max-width:1000px) {
  .main h1 {
    font-size: 4rem!important;
    margin-top: 15%!important;
  }
  .form {
    width: 90%!important;
  }
}
