.feedbackContent {
  background-color: #33353d;
  float: left;
  margin-top: 55px;
  width: 100%;
}
.feedback {
  display: inline-block;
  padding: 14vh 0 14vh 5%;
  width: 50%;
  vertical-align: top;
  border-right: #454752 4px solid;
  border-bottom: #454752 4px solid;
}
.user {
  display: inline-block;
  min-width: 8rem;
}
.user h3 {
  text-align: center;
}
.userImg {
  width: 8rem;
  height: 8rem;
  margin-left: calc(50% - 4rem);
  margin-bottom: 2rem;
}
.userFeedback::-webkit-scrollbar {
  display: none;
}
.userFeedback {
  font-family: 'Open Sans';
  display: inline-block;
  vertical-align: top;
  margin-left: 2rem;
  padding-left: 1rem;
  height: 11.7rem;
  overflow: scroll;
  overflow-x: hidden;
  border-left: #ededed 2px solid;
  width: 30rem;
  word-wrap: break-word;
}
@media screen and (min-width:0px) and (max-width:1525px) {
  .feedback {
    display: block;
    width: 100%;
    padding: 5vh 0 5vh;
    border-right: 0;
    border-bottom: #454752 4px solid;
  }
  .user {
    margin-left: calc(50% - 20rem);
  }
}
